.apply
  .apply__box
    .apply__box__theme
      応募内容の確認
    .apply__box__detail
      .apply__box__detail__title
        = @post.title
    .apply__box__pay
      .apply__box__pay__price
        受注金額
      .apply__box__pay__yen
        ¥
        = @post.lower_limit_price
    .apply__box__member
      .apply__box__member__left
        発注元
      .apply__box__member__right
        = @post.user.name
    .apply__box__how
      .apply__box__how__btm
        = link_to confirm_post_path, method: :post do
          応募する